# ### Ignore exectuables.
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
!*Makefile
# ###############

*.exe
*.msi

# Above combination will ignore all files without extension #

*.zip

*.pdf
*.ppt
*.pptx
*.ini
*.doc
*.docx
*.gdoc

*~
~*
*.o
*.out
*.prefs
*.classpath
*build.xml
*errortrace*
*.lck
Architecture/*
Economics/*
