# ### Ignore exectuables.
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
!*Makefile
# ###############

*.exe
*.msi

# Above combination will ignore all files without extension #

*.zip

*~
~*
*.o
*.out
*.prefs
*.classpath
*build.xml
*errortrace*
*.lck
Architecture/הרצאות/ארכי/הרצאה 13.pdf
Architecture/printing packages/useful material/shellCommands.pdf
Architecture/printing packages/useful material/pcasm-book.pdf
Architecture/printing packages/useful material/desktop.ini
Architecture/printing packages/useful material/IntelCodeTable.pdf
Architecture/printing packages/useful material/Guide_to_Assembly_Language_Programming_in_Linux_(Springer-2005).pdf
Architecture/printing packages/useful material/Finding String Tables.pdf
Architecture/printing packages/useful material/CASPL Reference Material (Slava)/desktop.ini
Architecture/printing packages/useful material/CASPL Reference Material (Slava)/Performance Examples.pdf
Architecture/printing packages/useful material/CASPL Reference Material (Slava)/Linux System Calls.pdf
Architecture/printing packages/useful material/CASPL Reference Material (Slava)/Error Detection.pdf
Architecture/printing packages/useful material/CASPL Reference Material (Slava)/ELF Headers and Values - 20140619-0918.pdf
Architecture/printing packages/useful material/CASPL Reference Material (Slava)/ELF Headers and Values - 20140619-0918 (1).pdf
Architecture/printing packages/useful material/CASPL Reference Material (Slava)/ELF Header - Wikipedia.pdf
Architecture/printing packages/useful material/CASPL Reference Material (Slava)/ASM String Operations.pdf
Architecture/printing packages/useful material/CASPL Reference Material (Slava)/ASM - Selected 8086 Instructions.pdf
Architecture/printing packages/useful material/CASPL Reference Material (Slava)/ASM - IntelCodeTable Cheat Sheet.pdf
Architecture/printing packages/useful material/CASPL Reference Material (Slava)/ASCII.pdf
Architecture/printing packages/desktop.ini
Architecture/printing packages/SPLAB - toPrint!/desktop.ini
Architecture/printing packages/SPLAB - toPrint!/IMPORTANT.ReadMe.txt.txt
Architecture/printing packages/SPLAB - toPrint!/AllSPLAB.pdf
Architecture/printing packages/SPLAB - toPrint!/AllLabs.pdf
Architecture/printing packages/SPLAB - toPrint!/AllElf.pdf
Architecture/printing packages/SPLAB - toPrint!/AllClassesגודינגר .pdf
Architecture/printing packages/CASPL 152 printing package.pdf
Architecture/printing packages/Archi_SPLAB Printing Package/printingpackage.pdf
Architecture/printing packages/Archi_SPLAB Printing Package/printingpackage(1).pdf
Architecture/printing packages/Archi_SPLAB Printing Package/memory access table.pdf
Architecture/printing packages/Archi_SPLAB Printing Package/memory access table(1).pdf
Architecture/printing packages/Archi_SPLAB Printing Package/man mmap.pdf
Architecture/printing packages/Archi_SPLAB Printing Package/man mmap(1).pdf
Architecture/printing packages/Archi_SPLAB Printing Package/desktop.ini
Architecture/printing packages/Archi_SPLAB Printing Package/desktop(1).ini
Architecture/printing packages/Archi_SPLAB Printing Package/README.txt
Architecture/printing packages/Archi_SPLAB Printing Package/README(1).txt
Architecture/printing packages/Archi_SPLAB Printing Package/Printed Exam Material.pdf
Architecture/printing packages/Archi_SPLAB Printing Package/Printed Exam Material(1).pdf
Architecture/printing packages/Archi_SPLAB Printing Package/ELF_Format.pdf
Architecture/printing packages/Archi_SPLAB Printing Package/ELF_Format(1).pdf
Architecture/printing packages/Archi_SPLAB Printing Package/ASCII Table.pdf
Architecture/printing packages/Archi_SPLAB Printing Package/ASCII Table(1).pdf
Architecture/printing packages/Archi_SPLAB Printing Package/2.part_2_labs_printLater.pdf
Architecture/printing packages/Archi_SPLAB Printing Package/2.part_2_labs_printLater(1).pdf
Architecture/printing packages/Archi_SPLAB Printing Package/1.part_1_assembly_printLater.pdf
Architecture/printing packages/Archi_SPLAB Printing Package/1.part_1_assembly_printLater(1).pdf
Architecture/printing packages/Archi_SPLAB Printing Package/04 - bugfix x86 v10a 20131122.png
Architecture/printing packages/Archi_SPLAB Printing Package/04 - bugfix x86 v10a 20131122(1).png
Architecture/exams/מעורב/desktop.ini
Architecture/exams/מעורב/caspl-2013b- חלק בלי תשובות.pdf
Architecture/exams/מעורב/2013c_noans.pdf
Architecture/exams/מעורב/2013c_90.pdf
Architecture/exams/מעורב/2013b_noans.pdf
Architecture/exams/מעורב/2013.pdf
Architecture/exams/מעורב/2013 no ans.pdf
Architecture/exams/מעורב/2013 no ans CLEAN.pdf
Architecture/exams/מעורב/2012.pdf
Architecture/exams/מעורב/2012 no ans.pdf
Architecture/exams/מעורב/2011_no_ans.pdf
Architecture/exams/מעורב/2011.pdf
Architecture/exams/מעורב/2010_no_ans.pdf
Architecture/exams/מעורב/2010.pdf
Architecture/exams/מעורב/2009_בלי_תשובות.pdf
Architecture/exams/מעורב/2009.pdf
Architecture/exams/מעורב/2006.pdf
Architecture/exams/מעורב/2006 no ans.pdf
Architecture/exams/מעורב/2006 copy.pdf
Architecture/exams/מעורב/2004.pdf
Architecture/exams/מעורב/2004 no ans.pdf
Architecture/exams/מעורב/2004 copy.pdf
Architecture/exams/מבחנים_מעבדה_בתכנות_מערכות - ללא תשובות.pdf
Architecture/exams/מבחנים מעבדה בתכנות מערכות - עם תשובות.pdf
Architecture/exams/חוברת מבחנים - ללא תשובות.pdf
Architecture/exams/חוברת מבחנים - אגודת סטודנטים.pdf
Architecture/exams/splab/desktop.ini
Architecture/exams/splab/2013b2 splab.pdf
Architecture/exams/splab/2013b2 splab solution.pdf
Architecture/exams/splab/2013b1 splab.pdf
Architecture/exams/splab/2013b1 splab solution.pdf
Architecture/exams/splab/2012b1 splab.pdf
Architecture/exams/splab/2012b1 splab solution.pdf
Architecture/exams/splab/2011b1 splab.pdf
Architecture/exams/splab/2011b1 splab solution.pdf
Architecture/exams/desktop.ini
Architecture/exams/arch/desktop.ini
Architecture/exams/arch/2008b1 arch.pdf
Architecture/exams/arch/2008b1 arch solution.pdf
Architecture/exams/arch/2006b1 arch.pdf
Architecture/exams/arch/2006b1 arch solution.pdf
Architecture/exams/arch/2004b1 arch.pdf
Architecture/exams/arch/2004b1 arch solution.pdf
Architecture/exams/arch+splab/מבחנים בארכי עם ובלי פתרונות2009-2015.pdf
Architecture/exams/arch+splab/desktop.ini
Architecture/exams/arch+splab/2016b1.pdf
Architecture/exams/arch+splab/2015b2.pdf
Architecture/exams/arch+splab/2015b2 solution.pdf
Architecture/exams/arch+splab/2015b1.pdf
Architecture/exams/arch+splab/2015b1 solution.pdf
Architecture/exams/arch+splab/2014b4.pdf
Architecture/exams/arch+splab/2014b4 solution.pdf
Architecture/exams/arch+splab/2014b2.pdf
Architecture/exams/arch+splab/2014b2 solution.pdf
Architecture/exams/arch+splab/2014b1.pdf
Architecture/exams/arch+splab/2014b1 solution.pdf
Architecture/exams/arch+splab/2013b3.pdf
Architecture/exams/arch+splab/2013b3 solution.pdf
Architecture/exams/arch+splab/2013b2.pdf
Architecture/exams/arch+splab/2013b2 solution.pdf
Architecture/exams/arch+splab/2013b1.pdf
Architecture/exams/arch+splab/2013b1 solution.pdf
Architecture/exams/arch+splab/2012b1.pdf
Architecture/exams/arch+splab/2012b1 solution.pdf
Architecture/תרגולים/תרגולים מהאתר 2016/תרגולים 2016 מאוחד.pdf
Architecture/תרגולים/תרגולים מהאתר 2016/רשימת נושאים לפי תרגולים.docx
Architecture/תרגולים/תרגולים מהאתר 2016/desktop.ini
Architecture/תרגולים/תרגולים מהאתר 2016/PS13_162.pdf
Architecture/תרגולים/תרגולים מהאתר 2016/PS12_162.pdf
Architecture/תרגולים/תרגולים מהאתר 2016/PS11_162.pdf
Architecture/תרגולים/תרגולים מהאתר 2016/PS10_162.pdf
Architecture/תרגולים/תרגולים מהאתר 2016/PS09_162_withoutQuestions.pdf
Architecture/תרגולים/תרגולים מהאתר 2016/PS08_162.pdf
Architecture/תרגולים/תרגולים מהאתר 2016/PS07_162.pdf
Architecture/תרגולים/תרגולים מהאתר 2016/PS06_162.pdf
Architecture/תרגולים/תרגולים מהאתר 2016/PS05_162.pdf
Architecture/תרגולים/תרגולים מהאתר 2016/PS04_162.pdf
Architecture/תרגולים/תרגולים מהאתר 2016/PS03_162.pdf
Architecture/תרגולים/תרגולים מהאתר 2016/PS02_162.pdf
Architecture/תרגולים/תרגולים מהאתר 2016/PS01_162.pdf
Architecture/תרגולים/תרגולים מהאתר 2016/- 2 בדף  תרגולים 2016 מאוחד.pdf
Architecture/תרגולים/גודינגר/תרגול 12.pdf
Architecture/תרגולים/גודינגר/תרגול 11.pdf
Architecture/תרגולים/גודינגר/תרגול 10.pdf
Architecture/תרגולים/גודינגר/תרגול 09.pdf
Architecture/תרגולים/גודינגר/תרגול 08.pdf
Architecture/תרגולים/גודינגר/תרגול 07.pdf
Architecture/תרגולים/גודינגר/תרגול 06.pdf
Architecture/תרגולים/גודינגר/תרגול 05.pdf
Architecture/תרגולים/גודינגר/תרגול 04.pdf
Architecture/תרגולים/גודינגר/תרגול 03.pdf
Architecture/תרגולים/גודינגר/תרגול 02.pdf
Architecture/תרגולים/גודינגר/תרגול 01.pdf
Architecture/תרגולים/גודינגר/תרגול 01(2).pdf
Architecture/תרגולים/גודינגר/מאוחד.pdf
Architecture/תרגולים/גודינגר/desktop.ini
Architecture/תרגולים/desktop.ini
Architecture/תרגולים/Practice/desktop.ini
Architecture/תרגולים/Practice/9. Assignment 3[התנגשות].ppt
Architecture/תרגולים/Practice/9. Assignment 3.ppt
Architecture/תרגולים/Practice/8. Position Independent Code.ppt
Architecture/תרגולים/Practice/7. Co-Routines.ppt
Architecture/תרגולים/Practice/7. Co-Routines.pdf
Architecture/תרגולים/Practice/6. macros and jump tables (1).pptx
Architecture/תרגולים/Practice/6. Macros and Jump Tables.pptx
Architecture/תרגולים/Practice/5. Addressing Modes and System Calls.ppt
Architecture/תרגולים/Practice/4. labels and linking (1).ppt
Architecture/תרגולים/Practice/4. Labels and Linking.ppt
Architecture/תרגולים/Practice/4. Labels and Linking.pdf
Architecture/תרגולים/Practice/4. Labels and Linking (shay cohen_s conflicted copy 2014-07-10).ppt
Architecture/תרגולים/Practice/4. Labels and Linking (asa coh_s conflicted copy 2014-06-23).ppt
Architecture/תרגולים/Practice/4. Labels and Linking (asa coh_s conflicted copy 2014-06-23) (shay cohen_s conflicted copy 2014-07-10).ppt
Architecture/תרגולים/Practice/4. Labels and Linking (Rotem Singer_s conflicted copy 2014-07-10).ppt
Architecture/תרגולים/Practice/3. Advanced Instructions, Functions and GDB.pdf
Architecture/תרגולים/Practice/2. Memory and Instructions.pdf
Architecture/תרגולים/Practice/12. Memory access.ppt
Architecture/תרגולים/Practice/11. Input and Output.ppt
Architecture/תרגולים/Practice/10. Error Detecting and Correcting Codes.ppt
Architecture/תרגולים/Practice/10. Error Detecting and Correcting Codes (Adam Davidyan_s conflicted copy 2014-06-26).ppt
Architecture/תרגולים/Practice/1. Intro.pdf
Architecture/תרגולים/Practical Session Index.pdf
Architecture/תרגולים/PS13_132 - tirgul hazara.ppt
Architecture/תרגולים/PS13_132 - tirgul hazara.pdf
Architecture/חומר עזר/ספר מבוא למערכות מחשב ואסמבלי.pdf
Architecture/חומר עזר/דברים שלא ידעתי שהלוואי שאני אדע במבחן.docx
Architecture/חומר עזר/pcasm-book-pdf/desktop.ini
Architecture/חומר עזר/elf_visual.pdf
Architecture/חומר עזר/desktop.ini
Architecture/חומר עזר/Yos_ NASM Manual.pdf
Architecture/חומר עזר/Yos_ Linux Manual.pdf
Architecture/חומר עזר/21pipes (1).pdf
Architecture/הרצאות/גודינגר/הרצאות מאוחד.pdf
Architecture/הרצאות/גודינגר/הרצאות ותרגולים מאוחד (עם סימניות).pdf
Architecture/הרצאות/גודינגר/הרצאה 13.pdf
Architecture/הרצאות/גודינגר/הרצאה 12.pdf
Architecture/הרצאות/גודינגר/הרצאה 11.pdf
Architecture/הרצאות/גודינגר/הרצאה 10.pdf
Architecture/הרצאות/גודינגר/הרצאה 09.pdf
Architecture/הרצאות/גודינגר/הרצאה 08.pdf
Architecture/הרצאות/גודינגר/הרצאה 07.pdf
Architecture/הרצאות/גודינגר/הרצאה 06.pdf
Architecture/הרצאות/גודינגר/הרצאה 05.pdf
Architecture/הרצאות/גודינגר/הרצאה 04.pdf
Architecture/הרצאות/גודינגר/הרצאה 03.pdf
Architecture/הרצאות/גודינגר/הרצאה 02.pdf
Architecture/הרצאות/גודינגר/הרצאה 01.pdf
Architecture/הרצאות/גודינגר/desktop.ini
Architecture/הרצאות/ארכיטקטורה - ספר הזוהר.pdf
Architecture/הרצאות/ארכי/הרצאות מאוחד.pdf
Architecture/הרצאות/ארכי/הרצאות ותרגולים מאוחד (עם סימניות).pdf
Architecture/הרצאות/ארכי/הרצאה 12.pdf
Architecture/הרצאות/ארכי/הרצאה 11.pdf
Architecture/הרצאות/ארכי/הרצאה 10.pdf
Architecture/הרצאות/ארכי/הרצאה 09.pdf
Architecture/הרצאות/ארכי/הרצאה 08.pdf
Architecture/הרצאות/ארכי/הרצאה 07.pdf
Architecture/הרצאות/ארכי/הרצאה 06.pdf
Architecture/הרצאות/ארכי/הרצאה 05.pdf
Architecture/הרצאות/ארכי/הרצאה 04.pdf
Architecture/הרצאות/ארכי/הרצאה 03.pdf
Architecture/הרצאות/ארכי/הרצאה 02.pdf
Architecture/הרצאות/ארכי/הרצאה 01.pdf
Architecture/הרצאות/ארכי/desktop.ini
Architecture/הרצאות/desktop.ini
Architecture/ארכיטקטורה - ספר הזוהר.pdf
Architecture/printing packages/useful material/x86 Registers.url
Architecture/exams/arch+splab/2011b1.pdf
Architecture/exams/arch+splab/2011b1 solution.pdf
Architecture/exams/arch+splab/2010b1.pdf
Architecture/exams/arch+splab/2010b1 solution.pdf
Architecture/exams/arch+splab/2009b1.pdf
Architecture/exams/arch+splab/2009b1 solution.pdf
Architecture/exams/2016cSol.pdf
Architecture/exams/2016c.pdf
Architecture/exams/2016bSol.pdf
Architecture/exams/2016b.pdf
Architecture/exams/2016aSol.pdf
Architecture/exams/2016a.pdf
Architecture/exams/2015bSol.pdf
Architecture/exams/2015b.pdf
Architecture/exams/2015aSol.pdf
Architecture/exams/2015a.pdf
Architecture/exams/2014aSol.pdf
Architecture/exams/2014a.pdf
Architecture/exams/2013cSol.pdf
Architecture/exams/2013c.pdf
Architecture/exams/2013b.pdf
Architecture/exams/2013aSol.pdf
Architecture/exams/2013a.pdf
Architecture/exams/2012aSol.pdf
Architecture/exams/2012a.pdf
Architecture/exams/2011aSol.pdf
Architecture/exams/2011a.pdf
Architecture/exams/2010aSol.pdf
Architecture/exams/2010a.pdf
Architecture/exams/2009aSol.pdf
Architecture/exams/2009a.pdf
Architecture/exams/2006aSol.pdf
Architecture/exams/2006a.pdf
Architecture/desktop.ini
