# ### Ignore exectuables.
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# ###############

*.exe
*.msi

# Above combination will ignore all files without extension #

*.zip

*~
~*
*.o
*.out
*.prefs
*.classpath
*build.xml
*errortrace*
*.lck
